.direnv
/.pre-commit-config.yaml
result
/cloudflare-pages/**/public
*.code-workspace

# Terraform
terraform/**/.terraform/
terraform/**/*.tfstate.backup
terraform/**/*.tfstate.lock.info

# AI
.claude/settings.local.json