.gitattributes !filter !diff
cloudflare-pages/tesla/src/private-key.pem filter=git-crypt diff=git-crypt
common/dotfiles/.config/rclone/rclone.conf filter=git-crypt diff=git-crypt
common/platform_dependent_dotfiles/storj-uplink/access.json filter=git-crypt diff=git-crypt
nas/containers/secrets.json filter=git-crypt diff=git-crypt linguist-generated=true
nas/stacks/**/.env filter=git-crypt diff=git-crypt
nas/stacks/ddclient/ddclient.conf filter=git-crypt diff=git-crypt
terraform/cloudflare/secrets.auto.tfvars filter=git-crypt diff=git-crypt
terraform/**/*.tfstate filter=git-crypt diff=git-crypt

