services:
  anypod:
    image: ghcr.io/thurstonsand/anypod:nightly
    container_name: anypod
    restart: unless-stopped
    init: true
    networks:
      external:
        ipv4_address: 192.168.5.231
    ports:
      - 8024:8024
    volumes:
      - /mnt/performance/docker/anypod/config/feeds.yaml:/config/feeds.yaml
      - /mnt/capacity/watch/anypod/data:/data
      - /mnt/performance/docker/anypod/cookies/cookies.txt:/cookies/cookies.txt
      - /etc/localtime:/etc/localtime:ro
    environment:
      # User/Group
      PUID: 950
      PGID: 544
      # Logging configuration
      LOG_FORMAT: json
      LOG_LEVEL: INFO
      LOG_INCLUDE_STACKTRACE: true
      # Server configuration
      SERVER_PORT: 8024
      BASE_URL: https://anypod.thurstons.house
      TRUSTED_PROXIES: '["192.168.1.0/24", "192.168.5.225"]'
      COOKIES_PATH: /cookies/cookies.txt
      POT_PROVIDER_URL: http://192.168.5.232:4416
      YT_CHANNEL: nightly
    depends_on:
      - bgutil-pot-provider

  bgutil-pot-provider:
    image: brainicism/bgutil-ytdlp-pot-provider:latest
    container_name: bgutil-pot-provider
    restart: unless-stopped
    networks:
      external:
        ipv4_address: 192.168.5.232
    ports:
      - "4416:4416"

networks:
  external:
    external: true
