services:
  ghost:
    image: ghost:6-alpine
    container_name: ghost
    restart: unless-stopped
    user: "0:0"
    entrypoint: ["/bin/bash","/custom-entrypoint-admin.sh"]
    command: ["node","current/index.js"]
    networks:
      external:
        ipv4_address: 192.168.5.233
    ports:
      - "2368:2368"
    volumes:
      - /mnt/capacity/watch/ghost/var/lib/ghost/content:/var/lib/ghost/content
      - /mnt/performance/home/admin/Develop/nixonomicon/nas/stacks/ghost/entrypoint-admin.sh:/custom-entrypoint-admin.sh:ro
    depends_on:
      ghost_mysql:
        condition: service_healthy
    environment:
      url: "https://blog.thurstons.house"
      mail__transport: SMTP
      mail__options__host: smtp.mail.me.com
      mail__options__port: 587
      mail__options__secureConnection: false
      mail__options__auth__user: "thurstonsand@icloud.com"
      mail__options__auth__pass: "${MAIL_AUTH_PASS}"
      mail__from: "notifications@thurstons.house"
      database__client: mysql
      database__connection__host: 192.168.5.234
      database__connection__database: ghostdb
      database__connection__user: ghostuser
      database__connection__password: "${DB_PASSWORD}"

  ghost_mysql:
    image: mysql:8
    container_name: ghost_mysql
    restart: unless-stopped
    user: "950:544"
    networks:
      external:
        ipv4_address: 192.168.5.234
    ports:
      - "3306:3306"
    volumes:
      - /mnt/capacity/watch/ghost_mysql/var/lib/mysql:/var/lib/mysql
      - /mnt/performance/home/admin/Develop/nixonomicon/nas/stacks/ghost/conf/my.cnf:/etc/my.cnf:ro
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "ghostdb"
      MYSQL_USER: "ghostuser"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s

networks:
  external:
    external: true
